/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
package convertinchtocm;

//import the scanner

        
        //display cm amount
        System.out.println("You entered " + inputInches + "\nWhich converts to " + (inputInches * CONVERSION_RATE) + " cm");
    }
}
